@import "tailwindcss";

:root {
  --background: #1c1c1c;
  --foreground: #ededed;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.notes-modal::-webkit-scrollbar, #jobForm::-webkit-scrollbar {
  width: 8px;
}

.notes-modal::-webkit-scrollbar-thumb , #jobForm::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

.notes-modal::-webkit-scrollbar-track, #jobForm::-webkit-scrollbar-track {
  background: rgb(82, 82, 82);
  border-radius: 4px;
}

@layer base {
  .header {
    @apply bg-slate-900/80 backdrop-blur-sm border-b md:border border-gray-600 text-white px-6 md:px-8 lg:px-16 md:rounded-lg;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #1f2937 inset;
    -webkit-text-fill-color: #ffffff;
    color: white !important;
  }


  .select-input {
    @apply bg-slate-900/80 text-white text-lg px-3 py-2 rounded-md font-semibold;
  }

  .select-input select {
    @apply text-[16px] bg-slate-800/80 rounded-md px-1 py-2 text-white focus:outline-none md:ml-2;
  }

  /* utility */
  .flex-column {
    @apply flex flex-col;
  }

  /* forms section */
  .form-label {
    @apply text-[16px] font-medium mb-1;
  }

  .form-input-container {
    @apply flex px-4 py-3 bg-gray-800 gap-x-4 rounded-md focus-within:ring-1 focus-within:ring-blue-400 relative;
  }

  .form-input {
    @apply placeholder:text-gray-300 text-[16px] w-full focus-within:ring-0 focus-within:outline-none text-white;
  }

  .form-input-container select {
    @apply bg-transparent text-white;
  }

  .form-error {
    @apply text-red-500 text-sm mx-2 mt-1 min-h-[1.25rem];
  }

  .primary-btn {
    @apply font-semibold text-[15px] bg-indigo-800 rounded-md px-10 py-2 flex items-center gap-x-2;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }

    100% {
      background-position: 1000px 0;
    }
  }

  .animate-shimmer {
    background: linear-gradient(90deg,
        #1e293b 25%,
        #334155 37%,
        #1e293b 63%);
    background-size: 1000px 100%;
    animation: shimmer 1.4s infinite linear;
  }


}